<div class="container">
    <div class="row">
        <h3 class="text-center">Contact Us</h3>
        
        <!-- This class is in Bootstrap and lets us use their grid so that the -->
        <!-- form is 4 columns long instead of being very wide -->
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <%= form_for "/contacts" do |f| %>
                    <!-- form-control in a form-group div makes forms look nice! -->
                    <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control'%>
                    </div>
                      
                    <div class="form-group">          
                        <%= f.label :email %>
                        <%= f.text_field :email, class: 'form-control' %>
                    </div>    
                        
                    <div class="form-group">
                        <%= f.label :comments %>
                        <%= f.text_area :comments, class: 'form-control' %>
                    </div>
                
                    <%= f.submit 'Submit', class: 'btn btn-default' %>
                <% end %>
            </div>
        </div>
    </div>
</div>